@font-face {
    font-family: 'Century Gothic Bold';
    src: url('../fonts/Century Gothic Bold.ttf');
}
@font-face {
    font-family: 'Code Bold';
    src: url('../fonts/CODE Bold.otf');
}
@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/Century Gothic.ttf');
}